/ontology/*.json
/testdata/*.json
/testdata/*.zip
troubleshooting/input-queries.json
fhir-data-evaluator/output/*
!fhir-data-evaluator/output/README.md
torch/queries/*
!torch/queries/example-crtdl.json
!torch/queries/README.md
output