version: '2.0'

services:
  feasibility-triangle-nginx:
    restart: unless-stopped
    image: nginxinc/nginx-unprivileged:1.20-alpine
    ports:
      - ${FEASIBILITY_TRIANGLE_REV_PROXY_PORT:-444}:8443
    volumes:
      - ../auth/cert.pem:/etc/nginx/conf.d/cert.pem
      - ../auth/key.pem:/etc/nginx/conf.d/key.pem
      - ../auth/.htpasswd:/etc/nginx/.htpasswd
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./mime.types:/etc/nginx/conf.d/mime.types

