num-node/auth/*.pem
num-node/auth/.htpasswd
num-node/dsf-client/bpe/app/last_event/time.file
zars/auth/*.pem
zars/dsf-broker/bpe/app/last_event/time.file
test/testdata
num-node/testdata
!num-node/testdata/test-patient-all.json
start-zars-and-num-node-all.sh
.env
deploy-config.json
*.pem
.htpasswd