-----BEGIN CERTIFICATE-----
MIIFCzCCAvOgAwIBAgIUWoVK9ABtDTEnmyV7kI2ymrPzlDMwDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAwwJbG9jYWxob3N0MCAXDTIxMTEwOTE0NTIxN1oYDzIyOTUw
ODI0MTQ1MjE3WjAUMRIwEAYDVQQDDAlsb2NhbGhvc3QwggIiMA0GCSqGSIb3DQEB
AQUAA4ICDwAwggIKAoICAQDmg8xMXKhrCjS68ZSwJQHfwMTddJD0yPNp8q99tMOs
GPJAb1kALKmyXMHJKkbO+7RIJAL8iE74ypcs3peyuux8+RlIExwNJM7xAgWr6Tsq
X7eGgp/1qZxUFRfv2EUjIX3+WQ+Tk764wO2n0O2qO/ORbTTq8v2UJ/5Oy5Kr+sHR
O26err20FJBDjLe5khyayA2j3NhYwADhaS82H8pLSQazxjw4JTOV3fV1X/ILtNrL
3N5N0iDV1zEbCqhT/DKy5VIdVcuNa4iGjvg2RDCSoFT8MWCwUSa8RqgRaYgYNnIE
+4C/DOs9cN/PgyNT0QOT/DL781qVzmnNXDJi0Gc5EjlDsllYBh5r5i63R4DjkXFV
zm2vuOsq4/bCMCmwuQxeq4Sp6rzap5jOhZBiPo6DxlmEpZIvT5veVhJxSQw+fXmr
/TWS5j+xawx+LuULuViFYuY0OSk7b5LPrQEQ3Jf/DcWxDzxYYP/RRhGc/gSA3xEq
SZB8B56szBax6E9HqZx6f8bWWeoNam427bTq9Kd1HL4AhzQoWwsMSgmItMZNKPxI
bRtxBqe54ZqEOpG74qdIdmT2DTvaIVP1t1Wms9kgJqpr2942Y8FGA0n6gFpKyies
Sj+XWslywKrvaU30oWZrKGRpd50NPmRj0jzRioii3QavmfiPjlJcRs76Q+YYo0Ko
qQIDAQABo1MwUTAdBgNVHQ4EFgQU92BGBU0qDcAKADrjWo09AYnqwiAwHwYDVR0j
BBgwFoAU92BGBU0qDcAKADrjWo09AYnqwiAwDwYDVR0TAQH/BAUwAwEB/zANBgkq
hkiG9w0BAQsFAAOCAgEAof09zqk+b5Cs6lW8c/nkpDg3V+lE3Wr7Vg1pts4OUsHK
ssxtNU8Oxt5wRWYShhbvl1XStwvf3OBPdZ9m3us7Uv/4CuDfMHbcsXMOzgYjsfkZ
tBuYwbb4ZqhVw73B6o0Qns2dtmFHlwPPFg8pVRLXYmGufJ7g40wdUd9hdgDbag/t
4/ha417wqHNUikYXWFIRCA6NSeqweKuJzN0vrWPOSfGX4cQbfia3NxiSyGzuADCi
qsOfcViXvgORgUvW6r8xJ4JZ6/UvTeMCAb4TSD3IPt+kPop4AFS9CytZxjAM2Miz
5Lzn4eEsBo/WdJZml0uC04Ovos+IFsqxMETSvJ6E4w8Bv8U96/ZUYVLsWjDbduXk
L+SWNp01eBGxBe7BoWMBkcMldQBW4GdHM/tfVGH3ASVbV3cDDRZ9MJw7JHI00SRD
fcYEKku+eLrANisP0Kjgl9/cYD73zOH13QDrm4YWu8OMO+CMWpCue3ySPsVuVMGX
8UmMCd7/iBqIveamcc4ksPad+bKQTC+tkNZ1pCVJt+QquuQZF3YPHYv3OyKQVvbL
wvCwlHcwmLw2qS7JoUDjiue14SYT1zJhtwuFa/29BqhiI0Hof2LehJYTaCa+o6G5
MGRRlLezhRQhinw5xPRfWj588zB2ZbiR9nurMIc4RAji+pNPXoraXpoT3H4nSfU=
-----END CERTIFICATE-----
