services:
  dataportal-backend:
    restart: unless-stopped
    image: ghcr.io/medizininformatik-initiative/feasibility-backend:7.5.1
    ports:
    - ${DATAPORTAL_BACKEND_PORT:-127.0.0.1:8091}:8090
    depends_on:
      dataportal-postgres:
        condition: service_started
      dataportal-elastic:
        condition: service_healthy
      init-elasticsearch:
        condition: service_completed_successfully
    environment:
      # ----- app
      QUERY_VALIDATION_ENABLED: ${DATAPORTAL_BACKEND_QUERY_VALIDATION_ENABLED:-true}
      CQL_TRANSLATE_ENABLED: ${DATAPORTAL_BACKEND_CQL_TRANSLATE_ENABLED:-true}
      FHIR_TRANSLATE_ENABLED: ${DATAPORTAL_BACKEND_FHIR_TRANSLATE_ENABLED:-false}
      API_BASE_URL: ${DATAPORTAL_BACKEND_API_BASE_URL:-https://localhost/api/}
      ALLOWED_ORIGINS: ${DATAPORTAL_BACKEND_ALLOWED_ORIGINS:-https://localhost}
      QUERYRESULT_EXPIRY: ${DATAPORTAL_BACKEND_QUERYRESULT_EXPIRY:-PT5M}
      ONTOLOGY_ORDER: ${DATAPORTAL_BACKEND_ONTOLOGY_ORDER:-"Diagnose, Prozedur, Person, Laboruntersuchung, Medikamentenverabreichung, Bioprobe, Einwilligung"}
      MAX_SAVED_QUERIES_PER_USER: ${DATAPORTAL_BACKEND_MAX_SAVED_QUERIES_PER_USER:-100}
      # ---- db config
      DATABASE_HOST: ${DATAPORTAL_BACKEND_DATASOURCE_HOST:-dataportal-backend-db}
      DATABASE_PORT: ${DATAPORTAL_BACKEND_DATASOURCE_PORT:-5432}
      DATABASE_USER: ${DATAPORTAL_BACKEND_DATASOURCE_USERNAME:-dataportaluser}
      DATABASE_PASSWORD: ${DATAPORTAL_BACKEND_DATASOURCE_PASSWORD:-dataportalpw}
      DATABASE_DBNAME: ${DATAPORTAL_BACKEND_DATASOURCE_DBNAME:-dataportal}
      # ---- ontology
      ONTOLOGY_FILES_FOLDER_UI: ${DATAPORTAL_BACKEND_ONTOLOGY_FILES_FOLDER:-/opt/dataportal-backend/ontology}
      ONTOLOGY_DB_MIGRATION_FOLDER: ${DATAPORTAL_BACKEND_ONTOLOGY_DB_MIGRATION_FOLDER:-/opt/dataportal-backend/ontology/migration}
      # ---- auth
      KEYCLOAK_ENABLED: ${DATAPORTAL_BACKEND_KEYCLOAK_ENABLED:-true}
      KEYCLOAK_BASE_URL: ${DATAPORTAL_BACKEND_KEYCLOAK_BASE_URL:-http://keycloak:8080}
      KEYCLOAK_CLIENT_ID: ${DATAPORTAL_BACKEND_KEYCLOAK_CLIENT_ID:-dataportal-gui}
      KEYCLOAK_ALLOWED_ROLE: ${DATAPORTAL_BACKEND_KEYCLOAK_ALLOWED_ROLE:-DataportalUser}
      KEYCLOAK_POWER_ROLE: ${DATAPORTAL_BACKEND_KEYCLOAK_POWER_ROLE:-DataportalPowerUser}
      KEYCLOAK_ADMIN_ROLE: ${DATAPORTAL_BACKEND_KEYCLOAK_ADMIN_ROLE:-DataportalAdmin}
      KEYCLOAK_BASE_URL_ISSUER: ${DATAPORTAL_BACKEND_KEYCLOAK_BASE_URL_ISSUER:-http://auth:8080}
      KEYCLOAK_BASE_URL_JWK: ${DATAPORTAL_BACKEND_KEYCLOAK_BASE_URL_JWK:-http://auth:8080}
      KEYCLOAK_REALM: ${DATAPORTAL_BACKEND_KEYCLOAK_REALM:-dataportal}
      #---- Mock broker
      BROKER_CLIENT_MOCK_ENABLED: ${DATAPORTAL_BACKEND_BROKER_CLIENT_MOCK_ENABLED:-false}
      #---- Direct broker
      BROKER_CLIENT_DIRECT_ENABLED: ${DATAPORTAL_BACKEND_BROKER_CLIENT_DIRECT_ENABLED:-false}
      BROKER_CLIENT_DIRECT_USE_CQL: ${DATAPORTAL_BACKEND_BROKER_CLIENT_DIRECT_USE_CQL:-false}
      BROKER_CLIENT_OBFUSCATE_RESULT_COUNT: ${DATAPORTAL_BACKEND_BROKER_CLIENT_OBFUSCATE_RESULT_COUNT:-false}
      BROKER_CLIENT_DIRECT_AUTH_BASIC_USERNAME: ${DATAPORTAL_BACKEND_BROKER_CLIENT_DIRECT_AUTH_BASIC_USERNAME}
      BROKER_CLIENT_DIRECT_AUTH_BASIC_PASSWORD: ${DATAPORTAL_BACKEND_BROKER_CLIENT_DIRECT_AUTH_BASIC_PASSWORD}
      BROKER_CLIENT_DIRECT_AUTH_OAUTH_ISSUER_URL: ${DATAPORTAL_BACKEND_BROKER_CLIENT_DIRECT_AUTH_OAUTH_ISSUER_URL}
      BROKER_CLIENT_DIRECT_AUTH_OAUTH_CLIENT_ID: ${DATAPORTAL_BACKEND_BROKER_CLIENT_DIRECT_AUTH_OAUTH_CLIENT_ID}
      BROKER_CLIENT_DIRECT_AUTH_OAUTH_CLIENT_SECRET: ${DATAPORTAL_BACKEND_BROKER_CLIENT_DIRECT_AUTH_OAUTH_CLIENT_SECRET}
      FLARE_WEBSERVICE_BASE_URL: ${DATAPORTAL_BACKEND_FLARE_WEBSERVICE_BASE_URL:-http://flare:8080}
      CQL_SERVER_BASE_URL: ${DATAPORTAL_BACKEND_CQL_SERVER_BASE_URL:-http://fhir-server:8080/fhir}
      # ---- Aktin broker
      BROKER_CLIENT_AKTIN_ENABLED: ${DATAPORTAL_BACKEND_AKTIN_ENABLED:-false}
      AKTIN_BROKER_BASE_URL: ${DATAPORTAL_BACKEND_AKTIN_BROKER_BASE_URL:-http://aktin-broker:8080/broker/}
      AKTIN_BROKER_API_KEY: ${DATAPORTAL_BACKEND_AKTIN_BROKER_API_KEY:-xxxApiKeyAdmin123}
      # ---- DSF  broker
      BROKER_CLIENT_DSF_ENABLED: ${DATAPORTAL_BACKEND_DSF_ENABLED:-false}
      DSF_SECURITY_CACERT: ${DATAPORTAL_BACKEND_DSF_CACERT:-/opt/dataportal-security/ca.pem}
      DSF_SECURITY_KEYSTORE_P12FILE: ${DATAPORTAL_BACKEND_DSF_DSF_SECURITY_KEYSTORE_P12FILE:-/opt/dataportal-security/test-user.p12}
      DSF_SECURITY_KEYSTORE_PASSWORD: ${DATAPORTAL_BACKEND_DSF_SECURITY_KEYSTORE_PASSWORD:-password}
      DSF_PROXY_HOST: ${DATAPORTAL_BACKEND_DSF_PROXY_HOST}
      DSF_PROXY_USERNAME: ${DATAPORTAL_BACKEND_DSF_PROXY_USERNAME}
      DSF_PROXY_PASSWORD: ${DATAPORTAL_BACKEND_DSF_PROXY_PASSWORD}
      DSF_WEBSERVICE_BASE_URL: ${DATAPORTAL_BACKEND_DSF_WEBSERVICE_BASE_URL:-https://dsf-zars-fhir-proxy/fhir}
      DSF_WEBSOCKET_URL: ${DATAPORTAL_BACKEND_DSF_WEBSOCKET_URL:-wss://dsf-zars-fhir-proxy:443/fhir/ws}
      DSF_ORGANIZATION_ID: ${DATAPORTAL_BACKEND_DSF_ORGANIZATION_ID:-Test_ZARS}
      # ---- privacy
      PRIVACY_QUOTA_SOFT_CREATE_AMOUNT: ${DATAPORTAL_BACKEND_PRIVACY_QUOTA_SOFT_CREATE_AMOUNT:-3}
      PRIVACY_QUOTA_SOFT_CREATE_INTERVAL: ${DATAPORTAL_BACKEND_PRIVACY_QUOTA_SOFT_CREATE_INTERVAL:-PT1M}
      PRIVACY_QUOTA_HARD_CREATE_AMOUNT: ${DATAPORTAL_BACKEND_PRIVACY_QUOTA_HARD_CREATE_AMOUNT:-50}
      PRIVACY_QUOTA_HARD_CREATE_INTERVAL: ${DATAPORTAL_BACKEND_PRIVACY_QUOTA_HARD_CREATE_INTERVAL:-P7D}
      PRIVACY_QUOTA_READ_SUMMARY_POLLINGINTERVAL: ${DATAPORTAL_BACKEND_PRIVACY_QUOTA_READ_SUMMARY_POLLINGINTERVAL:-PT10S}
      PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_POLLINGINTERVAL: ${DATAPORTAL_BACKEND_PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_POLLINGINTERVAL:-PT10S}
      PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_AMOUNT: ${DATAPORTAL_BACKEND_PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_AMOUNT:-3}
      PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_INTERVAL: ${DATAPORTAL_BACKEND_PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_INTERVAL:-PT2H}
      PRIVACY_THRESHOLD_RESULTS: ${DATAPORTAL_BACKEND_PRIVACY_THRESHOLD_RESULTS:-20}
      PRIVACY_THRESHOLD_SITES: ${DATAPORTAL_BACKEND_PRIVACY_THRESHOLD_SITES:-3}
      PRIVACY_THRESHOLD_SITES_RESULT: ${DATAPORTAL_BACKEND_PRIVACY_THRESHOLD_SITES_RESULT:-0}
      QUERYRESULT_DISABLE_LOG_FILE_ENCRYPTION: "true"
      # ---- Elastic Search
      ELASTIC_SEARCH_HOST: ${DATAPORTAL_BACKEND_ELASTIC_SEARCH_HOST:-dataportal-elastic}
      ELASTIC_SEARCH_FILTER: ${DATAPORTAL_BACKEND_ELASTIC_SEARCH_FILTER:-context,terminology,kds_module}
      # ---- logging
      LOG_LEVEL_SQL: ${DATAPORTAL_BACKEND_LOG_LEVEL_SQL:-warn}
      LOG_LEVEL: ${DATAPORTAL_BACKEND_LOG_LEVEL:-warn}
    extra_hosts:
      - "auth.localhost:host-gateway"
    volumes:
      - ${DATAPORTAL_BACKEND_CERTS_PATH:-../secrets}:/opt/dataportal-security
      - ./certs:/opt/dataportal-backend/certs

  dataportal-postgres:
    image: 'postgres:16-alpine'
    ports:
      - ${DATAPORTAL_BACKEND_DB_PORT:-127.0.0.1:5432}:5432
    environment:
      POSTGRES_USER: ${DATAPORTAL_BACKEND_DATASOURCE_USERNAME:-dataportaluser}
      POSTGRES_PASSWORD: ${DATAPORTAL_BACKEND_DATASOURCE_PASSWORD:-dataportalpw}
      POSTGRES_DB: dataportal
    restart: unless-stopped
    volumes:
      - type: volume
        source: dataportal-deploy-postgres-data
        target: /var/lib/postgresql/data
  dataportal-elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.16.0
    healthcheck:
      test: [ "CMD-SHELL", "curl --silent --fail localhost:9200/_cluster/health || exit 1" ]
      interval: 30s
      timeout: 30s
      retries: 3
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: -Xmx512m -Xms512m
      node.name: es01
      cluster.name: elasticsearch
      xpack.security.enabled: false
    volumes:
      - type: volume
        source: dataportal-deploy-elastic-data
        target: /usr/share/elasticsearch/data
  init-elasticsearch:
    image: ghcr.io/medizininformatik-initiative/dataportal-es-init:1.2.1
    depends_on:
      dataportal-elastic:
        condition: service_healthy
    environment:
      ES_HOST: http://dataportal-elastic
      ES_PORT: 9200
      ONTO_GIT_TAG: v3.9.1
      ONTO_REPO: https://github.com/medizininformatik-initiative/fhir-ontology-generator/releases/download
      DOWNLOAD_FILENAME: elastic.zip
      EXIT_ON_EXISTING_INDICES: ${DATAPORTAL_ES_INIT_EXIT_ON_EXISTING_INDICES:-false}

volumes:
  dataportal-deploy-postgres-data:
    name: "dataportal-deploy-postgres-data"
  dataportal-deploy-elastic-data:
    name: "dataportal-deploy-elastic-data"
