server {

        listen       8443 ssl;
        server_name ${GUI_HOSTNAME};

        location / {
            set                  $gui_upstream http://gui:8080;
            proxy_pass            http://$gui_upstream$request_uri;
            
        }

    }
