server {

        listen       8443 ssl;
        server_name ${KEYCLOAK_HOSTNAME};

        location / {
            set              $auth_upstream http://keycloak:8080;
            proxy_pass       http://$auth_upstream$request_uri;
            
        }

 
    }

