version: "3.7"

services:
  flare:
    image: ghcr.io/medizininformatik-initiative/flare:2.0.0-rc3
    ports:
      - ${FEASIBILITY_FLARE_PORT:-127.0.0.1:8084}:8080
    environment:
      FLARE_FHIR_SERVER: ${FLARE_FHIR_SERVER_URL:-http://fhir-server:8080/fhir/}
      FLARE_FHIR_USER: ${FLARE_FHIR_USER:-}
      FLARE_FHIR_PASSWORD: ${FLARE_FHIR_PW:-}
      FLARE_FHIR_MAX_CONNECTIONS: ${FLARE_FHIR_MAX_CONNECTIONS:-32}
      FLARE_FHIR_PAGE_COUNT: ${FLARE_FHIR_PAGE_COUNT:-500}
      FLARE_CACHE_MEM_SIZE_MB: ${FLARE_CACHE_MEM_SIZE_MB:-1024}
      FLARE_CACHE_MEM_EXPIRE: ${FLARE_CACHE_MEM_EXPIRE:-PT48H}
      FLARE_CACHE_MEM_REFRESH: ${FLARE_CACHE_MEM_REFRESH:-PT24H}
      FLARE_CACHE_DISK_PATH: ${FLARE_CACHE_DISK_PATH:-cache}
      FLARE_CACHE_DISK_THREADS: ${FLARE_CACHE_DISK_THREADS:-4}
      FLARE_CACHE_DISK_EXPIRE: ${FLARE_CACHE_DISK_EXPIRE:-P7D}
      JAVA_TOOL_OPTIONS: ${FLARE_JAVA_TOOL_OPTIONS:--Xmx4g}
      LOG_LEVEL: ${FLARE_LOG_LEVEL:-info}
    restart: unless-stopped
    volumes:
      - ${FLARE_SELF_SIGNED_CA_CERT_PATH:-./certs}:/app/certs
      - type: volume
        source: feas-flare-cache
        target: /app/cache

volumes:
  feas-flare-cache:
    name: "feas-flare-cache"
