services:
  dataportal-ui:
    image: ghcr.io/medizininformatik-initiative/feasibility-gui:6.3.7
    restart: unless-stopped
    volumes:
      - ./deploy-config.json:/usr/share/nginx/html/assets/config/config.deploy.json
