services:
  fhir-data-evaluator:
    image: ghcr.io/medizininformatik-initiative/fhir-data-evaluator:1.3.1
    environment:
      FHIR_SOURCE_SERVER: ${FDE_FHIR_SOURCE_SERVER:-http://localhost:8080/fhir}
      FHIR_SOURCE_USER: ${FDE_FHIR_SOURCE_USER:-}
      FHIR_SOURCE_PASSWORD: ${FDE_FHIR_SOURCE_PASSWORD:-}
      FHIR_SOURCE_MAX_CONNECTIONS: ${FDE_FHIR_SOURCE_MAX_CONNECTIONS:-4}
      FHIR_SOURCE_PAGE_COUNT: ${FDE_FHIR_SOURCE_PAGE_COUNT:-1000}
      FHIR_SOURCE_BEARER_TOKEN: ${FDE_FHIR_SOURCE_BEARER_TOKEN:-}
      FHIR_SOURCE_OAUTH_ISSUER_URI: ${FDE_FHIR_SOURCE_OAUTH_ISSUER_URI:-}
      FHIR_SOURCE_OAUTH_CLIENT_ID: ${FDE_FHIR_SOURCE_OAUTH_CLIENT_ID:-}
      FHIR_SOURCE_OAUTH_CLIENT_SECRET: ${FDE_FHIR_SOURCE_OAUTH_CLIENT_SECRET:-}
      FHIR_REPORT_SERVER: ${FDE_FHIR_REPORT_SERVER:-http://localhost:8080/fhir}
      FHIR_REPORT_USER: ${FDE_FHIR_REPORT_USER:-}
      FHIR_REPORT_PASSWORD: ${FDE_FHIR_REPORT_PASSWORD:-}
      FHIR_REPORT_MAX_CONNECTIONS: ${FDE_FHIR_REPORT_MAX_CONNECTIONS:-4}
      FHIR_REPORT_BEARER_TOKEN: ${FDE_FHIR_REPORT_BEARER_TOKEN:-}
      FHIR_REPORT_OAUTH_ISSUER_URI: ${FDE_FHIR_REPORT_OAUTH_ISSUER_URI:-}
      FHIR_REPORT_OAUTH_CLIENT_ID: ${FDE_FHIR_REPORT_OAUTH_CLIENT_ID:-}
      FHIR_REPORT_OAUTH_CLIENT_SECRET: ${FDE_FHIR_REPORT_OAUTH_CLIENT_SECRET:-}
      MAX_IN_MEMORY_SIZE_MIB: ${FDE_MAX_IN_MEMORY_SIZE_MIB:-10}
      TZ: ${FDE_TZ:-Europe/Berlin}
      SEND_REPORT_TO_SERVER: ${FDE_SEND_REPORT_TO_SERVER:-false}
      CREATE_OBFUSCATED_REPORT: ${FDE_CREATE_OBFUSCATED_REPORT:-true}
      AUTHOR_IDENTIFIER_SYSTEM: ${FDE_AUTHOR_IDENTIFIER_SYSTEM:-http://dsf.dev/sid/organization-identifier}
      AUTHOR_IDENTIFIER_VALUE: ${FDE_AUTHOR_IDENTIFIER_VALUE:-}
      PROJECT_IDENTIFIER_SYSTEM: ${FDE_PROJECT_IDENTIFIER_SYSTEM:-http://medizininformatik-initiative.de/sid/project-identifier}
      PROJECT_IDENTIFIER_VALUE: ${FDE_PROJECT_IDENTIFIER_VALUE:-fdpg-data-availability-report}
      PROJECT_IDENTIFIER_SYSTEM_OBFUSCATED_REPORT: ${FDE_PROJECT_IDENTIFIER_SYSTEM_OBFUSCATED_REPORT:-http://medizininformatik-initiative.de/sid/project-identifier}
      PROJECT_IDENTIFIER_VALUE_OBFUSCATED_REPORT: ${FDE_PROJECT_IDENTIFIER_VALUE_OBFUSCATED_REPORT:-fdpg-data-availability-report-obfuscated}
    extra_hosts:
      - "auth.localhost:host-gateway"
      - "localhost:host-gateway"
    volumes:
    - "${FDE_INPUT_MEASURE:-./measure/kds-measure.json}:/app/measure.json"
    - "${FDE_OUTPUT_DIR:-./output}:/app/output"
    - ../auth:/app/certs
